body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: #020617;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #38bdf8;
}

h1 {
    text-align: center;
    color: #38bdf8;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #38bdf8;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0ea5e9;
}

ul {
    margin-top: 15px;
}

li {
    margin-bottom: 6px;
}

.rules {
    margin-top: 20px;
    background: #020617;
    padding: 15px;
    border-radius: 5px;
}
